<PluginDeployer>
  <Connections>
    <Connection>
      <Name>crm-server</Name>
      <OrgId>6dd2805d-9f7c-40ad-ab33-942179e97ad0</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly9jcm0tc2VydmVyOjU1NTUvY3JtO0RvbWFpbj1ydXNzaWE7VXNlcm5hbWU9YWRtaW5jcm07UGFzc3dvcmQ9cGFyYWJsYSExO0F1dGhUeXBlPUFEO1JlcXVpcmVOZXdJbnN0YW5jZT10cnVlOw==</ConnectionString>
      <Version>8.1.0.359</Version>
    </Connection>
  </Connections>
  <Assemblies>
    <Assembly>
      <OrgId>6dd2805d-9f7c-40ad-ab33-942179e97ad0</OrgId>
      <ProjectName>CustomizationBackup</ProjectName>
      <AssemblyId>735ea81b-bfb6-43bd-941a-1354474d6412</AssemblyId>
    </Assembly>
  </Assemblies>
</PluginDeployer>